<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdkj.borrowingmenber">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--高德定位-->
        <service android:name="com.amap.api.location.APSService"></service>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f281aa04fe0785caf11fbbe273b4f6da">//开发者申请的key

        </meta-data>


        <!--芝麻信用授权界面-->
        <activity
            android:name="com.android.moblie.zmxy.antgroup.creditsdk.app.SDKActivity"
            android:label="芝麻信用"
            android:screenOrientation="portrait" />

        <activity
            android:name=".WelcomeAcitivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.user.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--主页-->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--通讯录认证-->
        <activity
            android:name=".module.certification.AddressBookCertActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--基本信息认证-->
        <activity
            android:name=".module.certification.BasicInfoCertActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--身份证上传-->
        <activity
            android:name=".module.certification.IdcardUploadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--行业关注清单-->
        <activity
            android:name=".module.certification.IndustryFocusOnActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--定位认证-->
        <activity
            android:name=".module.certification.LocationCertActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogStyleBottom"
            android:windowSoftInputMode="adjustPan" />

        <!--同盾认证-->
        <activity
            android:name=".module.certification.TdAllCertActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogStyleBottom"
            android:windowSoftInputMode="adjustPan" />
        <!--3要素认证-->
        <activity
            android:name=".module.certification.ThreeDataCertActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogStyleBottom"
            android:windowSoftInputMode="adjustPan" />
        <!--同盾运营商认证-->
        <activity
            android:name=".module.certification.TdOperatorCertActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--芝麻分数获取-->
        <activity
            android:name=".module.certification.ZMScoreGetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--调查声明-->
        <activity
            android:name=".module.certification.SurveyStatementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--图片裁剪-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--图片裁剪-->
        <activity
            android:name=".module.user.ImageSelectuCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogStyleBottom" />

        <!--我的报告-->
        <activity
            android:name=".module.report.MyReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--修改手机号-->
        <activity
            android:name=".module.user.ChangePhoneNumActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--人行登录-->
        <activity
            android:name=".module.bankcert.RhLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--人行登录-->
        <activity
            android:name=".module.bankcert.RhReportLookCheckActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--芝麻认证-->
        <activity
            android:name=".module.certification.ZMCertificationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <!-- 需要添加下面的intent-filter配置 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--cddata://certi.back-->
                <data
                    android:host="certi.back"
                    android:scheme="borrowing" />
            </intent-filter>
        </activity>

    </application>

</manifest>